 /*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

 


 
:root{
    --gold1:blue;
    --gold2:green;
    --gray:red; 
    --gray2:#f7d9d990;
    --black1:black;
    --black2:blue;
    --shadow:0 8x 8px;
    --color_shadow:black;
}


*{

    margin:0;
    padding: 0;

    box-sizing: border-box;
    
}
body{
  
    font-family: 'Mr Dafoe', cursive;
        
    
}

.container{
   
   
     
}

 
.container--modifier{
    width: 70%;

}

.hero{
    
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #0a0a0a 0%,#f30202 12%);

}

.nav_hero{
    color:#dedb1f;
   
    height: 50px;
    padding: 10px;
    border-bottom: 4px solid rgba(226, 104, 11, 0.1);
    
}
 
.nav_container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: inherit;
    padding: 0;
}

.logo_name{
    font-size: 24px;
}

.link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

 


.link--active{
    color:var(--gray);
    font-weight: 700;
}

.point{
    color:var(--gray);
}
hero_textos{
    
        font-family: 'Pangolin', cursive;
     
}
.hero_main{
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0;

    background-image: url(/lobo2.jpg);
    max-width: 1240px;
    max-height: 500px;
    background-size:100%;

    margin: 0 auto;
    overflow:hidden;
    padding: 50px ;
}

.mockup{
    object-fit: cover;
    height: calc(100vh - 70px);
}

.title{
    margin-top: 150px;
    font-size: 56px;
    font-weight: 300;
    color: #fff;
    text-shadow: var(--shadow) var(--color_shadow);
     
    }

.copy{
    font-size: 24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color_shadow);
    margin: 15px 0;
}

.copy_active{
    font-weight: 700;
}

.cta{
    padding: 20px;
    display: inline-block;
    background: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    text-decoration: none;
    color: var(rgb(214, 206, 157));
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
    background-color: #FFE53B;

}
/*footer*/
.footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    list-style: none;
}
.containerf{
    max-width: auto;
    margin: 0 auto;
}
.footer {
    background: linear-gradient(180deg, #4b0505 0%,#020202 35%);

    
    padding: 5px 0;
}
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
width:35%;
padding: 0 35px;
}
.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 35px;
    font-size: 50;
    border-bottom: 2px solid #e98214;
    display: inline-block;
}
/*copiright*/
.derechos-de-autor{
    margin: 25px;
    color: rgb(229, 22, 22);
    background-image: 
}
 
 
 

 
